body 
{
    background-color:#0f0f0f;

    font-family:Rezalt-ND;
    font-smooth: never;
    color:white;
    
    background-image: url('bg2.jpg');
    background-size:100% 100%;
    background-attachment:fixed;
    text-align:center;
} 

HR {
    height:1px;
    width:80%;
    background:#FFFFFF;
    border:0;
   }

.mainpage {
    margin-left: 45px;
    margin-right: 45px;
}

.centered {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 840px;
  height: 480px;
  margin: auto;
  background-color: transparent;
  color: white;	
  z-index: 6000;
} 

img.overlayimg{
border-width:1px;
  visibility:hidden; 
}

.inclink {
}

.thumbcell {
    height: 160px;
}

img {
border-style:solid;
border-width:1px;
border-color:#0f0f0f;
}

.imageoverlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 600px;
  height: 480px;
  margin: auto;
  background-color: transparent;
  color: white;	
  visibility:hidden; 
  z-index: 7000;
} 

@font-face
{
font-family: Rezalt-ND;
    src: url('rezalt_no_descent-webfont.eot');
    src: url('rezalt_no_descent-webfont.eot?#iefix') format('embedded-opentype'),
         url('rezalt_no_descent-webfont.woff') format('woff'),
         url('rezalt_no_descent-webfont.ttf') format('truetype'),
         url('rezalt_no_descent-webfont.svg#RezaltnodescentRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}



h1
{
    font-family: Rezalt-ND;
    font-size:30px;
    font-smooth: never;
}

p
{    font-size:20px;
}

a
{
  font-family: Rezalt-ND;
    font-smooth: never;
  FONT-WEIGHT: normal;
  color:white;
  font-size:20px;
}
